@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.projects_container {
  display: flex;
  align-items: center;
  margin: 10px 100px 0 250px;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  .segment {
    font-family: "Ubuntu", sans-serif;
  }
}
