@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.projects_container {
  display: flex;
  align-items: center;
  margin: 10px 100px 0 250px;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  .segment {
    font-family: "Ubuntu", sans-serif;
  }
}


.page_container {
  font-size: 40px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

.about_container {
  width: 700px;
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 5%;
  h1 {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 30px;
  }
  p {
    font-family: "Ubuntu", sans-serif;
  }
}