@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  text-align: center;
}
header {
  margin: auto;
}
h1 {
  font-family: 'Lato', sans-serif;
}
.cardholder {
  display: flex;
}